# Copiez ce fichier en ".env" et adaptez la valeur pour le déploiement.
# En local, vous pouvez laisser ce fichier tel quel ou même ne pas créer de
# .env du tout : le code utilise http://localhost:4000 par défaut.

VITE_SERVER_URL=http://localhost:4000
